@use './util' as u;

@font-face {
  font-family: 'Inconsolata';
  src: url('../../assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf')
    format('truetype');
}

:root {
  --white: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
  --purple: hsl(263, 100%, 50%);
  --gradient: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));

  --ff-inconsolata: 'Inconsolata', monospace;
}

body {
  min-height: 100vh;
  padding: 32px 16px 114px;
  background-image: url('../../assets/images/pattern-lines.svg'),
    url('../../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg'),
    url('../../assets/images/pattern-squiggly-line-top.svg'),
    url('../../assets/images/pattern-circle.svg'),
    url('../../assets/images/background-mobile.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 260%, auto 210px, 30%, 30%, 100% 100%;
  background-position: 0% 0%, bottom left, right 20px, 120% center, 0% 0%;
  font-family: var(--ff-inconsolata);
}

.ticket-page {
  max-width: 600px;
  margin-inline: auto;
}

.intro {
  margin-bottom: u.rem(40);
  text-align: center;

  &__heading {
    margin-bottom: u.rem(18);
    font-size: u.rem(30);
    font-weight: 800;
    color: var(--white);
    letter-spacing: u.rem(-1);
    line-height: 1.1;
  }

  &__description {
    font-size: u.rem(20);
    color: var(--neutral-300);
    letter-spacing: u.rem(-0.5);
    line-height: 1.25;

    &--highlighted {
      color: var(--orange-500);
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('../../assets/images/pattern-lines.svg'),
      url('../../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg'),
      url('../../assets/images/pattern-squiggly-line-top.svg'),
      url('../../assets/images/pattern-circle.svg'),
      url('../../assets/images/background-tablet.png');
  }
}

@media screen and (min-width: 1440px) {
  body {
    min-height: 1024px;
    background-image: url('../../assets/images/pattern-lines.svg'),
      url('../../assets/images/pattern-squiggly-line-bottom-desktop.svg'),
      url('../../assets/images/pattern-squiggly-line-top.svg'),
      url('../../assets/images/pattern-circle.svg'),
      url('../../assets/images/pattern-circle.svg'),
      url('../../assets/images/background-desktop.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
      no-repeat;
    background-size: 100%, auto 400px, 450px, 216px, 216px, 100% 100%;
    background-position: 0% 0%, bottom left, right 20px, 3.6% -84px, 940px 534px,
      0% 0%;
  }

  .ticket-page {
    max-width: unset;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
