@use './util' as u;

@font-face {
  font-family: 'Inconsolata';
  src: url('../../assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf')
    format('truetype');
}

:root {
  --white: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
  --gradient: linear-gradient(hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}

body {
  padding: 32px 16px 114px 16px;
  background-image: url('../../assets/images/pattern-lines.svg'),
    url('../../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg'),
    url('../../assets/images/pattern-squiggly-line-top.svg'),
    url('../../assets/images/pattern-circle.svg'),
    url('../../assets/images/background-mobile.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 260%, 80%, 30%, 30%, 100% 100%;
  background-position: 0% 0%, bottom left, right 25px, 120% center, 0% 0%;
  font-family: 'Inconsolata', sans-serif;
}

.header {
  margin-bottom: 40px;

  &__logo {
    height: 24px;
    margin-inline: auto;
  }
}

.intro {
  text-align: center;

  &__heading {
    font-size: u.rem(30);
    font-weight: 800;
    color: var(--white);
    letter-spacing: u.rem(-1);
    line-height: 1.1;
  }
}
