@use './util' as u;

.intro {
  margin-bottom: u.rem(40);
  text-align: center;

  &__heading {
    margin-bottom: u.rem(18);
    font-size: u.rem(30);
    font-weight: 800;
    color: var(--white);
    letter-spacing: u.rem(-1);
    line-height: 1.1;
  }

  &__description {
    font-size: u.rem(20);
    color: var(--neutral-300);
    letter-spacing: u.rem(-0.5);
    line-height: 1.25;
  }
}
