@use './util' as u;

.form {
  &__container {
    margin-bottom: u.rem(25);
  }

  &__label {
    display: block;
    margin-bottom: u.rem(10);
    font-size: u.rem(20);
    letter-spacing: u.rem(-0.5);
    line-height: 1.2;
    color: var(--white);
  }

  &__input-field {
    width: 100%;
    padding: 16px;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--neutral-500);
    border-radius: 10px;
    font-family: var(--ff-inconsolata);
    font-size: u.rem(18);
    color: var(--neutral-300);

    &::placeholder {
      color: var(--neutral-500);
    }

    &:focus-visible {
      outline: 2px solid var(--neutral-500);
      outline-offset: 3px;
    }

    &--invalid {
      border: 1px solid var(--orange-500);
    }
  }

  &__submit-button {
    cursor: pointer;
    width: 100%;
    padding: 16px;
    background: var(--orange-700);
    border: 0;
    border-radius: 10px;
    font-size: u.rem(18);
    font-weight: 900;
    color: var(--neutral-900);
    transition-property: box-shadow, transform;
    transition-duration: 100ms;
    transition-timing-function: ease-out;

    &:hover {
      box-shadow: 0 4px 0 var(--orange-500);
      transform: translateY(-4px);
    }

    &:focus-visible {
      outline: 2px solid var(--neutral-500);
      outline-offset: 3px;
      background: var(--orange-500);
    }
  }
}

.error-message {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: u.rem(12);

  &__icon {
    flex-shrink: 0;
    width: u.rem(18);
  }

  &__text {
    font-size: u.rem(12);
    color: var(--orange-500);
  }
}
