@use './util' as u;

.header {
  margin-bottom: 40px;

  &__logo {
    height: 24px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    margin-bottom: 60px;

    &--large-margin {
      margin-bottom: 70px;
    }

    &__logo {
      height: 30px;
    }
  }
}
