@use './util' as u;

.header {
  margin-bottom: 40px;

  &__logo {
    height: 24px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    &__logo {
      height: 26px;
    }
  }
}
