@use './util' as u;

.ticket {
  display: flex;
  aspect-ratio: 600 / 280;
  max-width: 600px;
  padding: 4vw;
  padding-top: 4.8vw;
  margin-inline: auto;
  margin-top: 70px;
  background: url('../../assets/images/pattern-ticket.svg');
  background-repeat: no-repeat;
  background-size: 100%;

  &__left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 84.5%;
    height: 100%;
  }

  &__right-container {
    width: 15.5%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 5.8vw;
  }

  &__number {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: 500;
    line-height: 1.1;
    color: var(--neutral-500);
  }
}

.ticket-header {
  display: flex;
  gap: 4.82%;

  &__text-section {
    width: 100%;
  }

  &__logo {
    width: 11.343%;
    height: 64.05%;
  }

  &__heading {
    margin-bottom: 6.43%;
    font-size: 6.4vw;
    font-weight: 700;
    letter-spacing: -0.0416667em;
    line-height: 0.8;
    color: var(--white);
  }

  &__date-location {
    font-size: 3.73333vw;
    line-height: 0.7;
    color: var(--neutral-300);
  }
}

.ticket-receiver {
  display: flex;
  gap: 4.82%;

  &__avatar {
    width: 17.0143%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

  &__name {
    font-size: 4.8vw;
    text-transform: capitalize;
    line-height: 1.4;
    color: var(--white);
  }

  &__github {
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  &__github-logo {
    width: 4.25vw;
    height: 4.25vw;
  }

  &__github-username {
    font-size: 3.7vw;
    line-height: 1.4;
    color: var(--neutral-300);
  }
}
